<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>

    <title>Websocket Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

    <input type="text" id="name" value="김남균">
    <input type="button" onclick="connect();" value="connect" ><p></p>
    <input type="text" id="msg" value="하이">
    <input type="button" onclick="send();" value="send" ><p></p>
    <input type="text" id="create" value="a">
    <input type="button" onclick="createRoom();" value="채팅방 생성" ><p></p>
    <input type="text" id="targetRoom" value="a">
    <input type="button" onclick="targetRoom();" value="채팅방 조회" ><p></p>
    <input type="button" onclick="rooms();" value="모든 채팅방 조회" ><p></p>
    <div id="greetings">

    </div>

</body>
<script>
    let stompClient;

    /**
     * 설정파읠의 websocket
     */
    function connect() {
        // let socket = new SockJS("/websocket",null,{transports: ["default"]});
        let socket = new SockJS("/websocket");
        console.log("남규니 = ", socket)
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            // console.log('conneted:' + frame);
            stompClient.subscribe('/topic/a', function (response) {
                // console.log(response);
                console.log('실행');
                console.log(JSON.parse(response.body));
                console.log('실행');
                showChat(JSON.parse(response.body))
            });
        });
    }

    /**
     * 첫번째 인자는 설정파일의 app과 컨트롤러의 매핑주소 user
     * 두번째 인자는 서버로 보낼때 추가하고싶은 헤더
     * 세번째 인자는 서버로 보낼 바디
     */
    function send(){
        let name=document.getElementById("name").value;
        let msg=document.getElementById("msg").value;
        let target=document.getElementById("targetRoom").value;
        let create=document.getElementById("create").value;
        console.log('sending');
        stompClient.send("/app/user",{},JSON.stringify({name: name,msg:msg}))

    }


    function createRoom(){
        let name=document.getElementById("name").value;
        let msg=document.getElementById("msg").value;
        let target=document.getElementById("targetRoom").value;
        let create=document.getElementById("create").value;
        $.ajax({
            type: "POST",
            url: "/room",
            data: {
                "roomId": create,
                "roomName":name
            },
            success: function (data){
            }

        });
    }

    function targetRoom(){
        let name=document.getElementById("name").value;
        let msg=document.getElementById("msg").value;
        let target=document.getElementById("targetRoom").value;
        let create=document.getElementById("create").value;
        $.ajax({
            type: "POST",
            url: "/roomInfo",
            data: {
                "roomId" :target
            },
            success: function (data){
            }

        });
    }
    function rooms(){
        $.ajax({
            type: "POST",
            url: "/rooms",
            data: {
            },
            success: function (data){
            }

        });
    }

    function showChat(chat) {
        console.log("들어옴");
        $("#greetings").append("<tr><td>" + chat.name + " : " + chat.message + "</td></tr>");
    }

</script>
</html>